div {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #b60e0e;
  border: 9px solid #a6a2a2;
  box-shadow: 2px 2px 44px 12px rgba(145, 141, 141, 0.51);
  border-radius: 46px;
}
